In [8]:
import pandas as pd
weather_data = {
    'day': ['Jan-1', 'Jan-2','Jan-3','Jan-4','Jan-5','Jan-6'],
    'temperature': [32,35,28,24,32,31],
    'windspeed': [6,7,2,7,4,2],
    'event': ['rain','sunny','snow', 'snow','rain','sunny']
}
df= pd.DataFrame(weather_data)
df

     day  temperature  windspeed  event
0  Jan-1           32          6   rain
1  Jan-2           35          7  sunny
2  Jan-3           28          2   snow
3  Jan-4           24          7   snow
4  Jan-5           32          4   rain
5  Jan-6           31          2  sunny

In [14]:
df.columns

Index(['day', 'temperature', 'windspeed', 'event'], dtype='object')

In [15]:
df. event

0     rain
1    sunny
2     snow
3     snow
4     rain
5    sunny
Name: event, dtype: object

In [17]:
df[['event','day']]

   event    day
0   rain  Jan-1
1  sunny  Jan-2
2   snow  Jan-3
3   snow  Jan-4
4   rain  Jan-5
5  sunny  Jan-6

In [18]:
df['temperature'].max()

35

In [19]:
df['temperature'].min()

24

In [20]:
df['temperature'].mean()

30.333333333333332

In [21]:
df['temperature'].std()

3.8297084310253524

In [22]:
df.describe()

       temperature  windspeed
count     6.000000   6.000000
mean     30.333333   4.666667
std       3.829708   2.338090
min      24.000000   2.000000
25%      28.750000   2.500000
50%      31.500000   5.000000
75%      32.000000   6.750000
max      35.000000   7.000000

In [27]:
df['day'][df.temperature== df['temperature'].min()]

3    Jan-4
Name: day, dtype: object

In [30]:
df.set_index('day', inplace= True)

In [32]:
df

       temperature  windspeed  event
day
Jan-1           32          6   rain
Jan-2           35          7  sunny
Jan-3           28          2   snow
Jan-4           24          7   snow
Jan-5           32          4   rain
Jan-6           31          2  sunny

In [33]:
df.loc['Jan-1']

temperature      32
windspeed         6
event          rain
Name: Jan-1, dtype: object

In [35]:
df.reset_index(inplace= True)

In [36]:
df

   index    day  temperature  windspeed  event
0      0  Jan-1           32          6   rain
1      1  Jan-2           35          7  sunny
2      2  Jan-3           28          2   snow
3      3  Jan-4           24          7   snow
4      4  Jan-5           32          4   rain
5      5  Jan-6           31          2  sunny